@font-face{
    font-family: "Roboto regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
    font-variant: small-caps
}
h2 {
    font-family: "roboto bold";
    font-size: 28px;
}
h3 {
    font-family: "roboto bold";
    font-size: 24px;    
}
p {
    font-family: "roboto regular";
}
* {
    box-sizing: border-box;
}
li {
   list-style: none;
   font-family: "roboto regular";
}
a {
    text-decoration: none;
    color: black;
}
body{

    margin: 0;
}
header {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: 2.5rem;

}
header nav ul {
    display: flex;
    font-family: "Roboto bold";
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    text-transform:uppercase;
    margin-top: 2%;
    padding: 0;

}

header nav ul li {
    border-right: 2px solid black;
    padding-right: 1rem;
}
header nav ul :last-child{
    border-right: none;
}

.logo-header {
    width: 4%;
}
.btn-cta {
    font-family: "roboto regular";
    background-color: #FF4676;
    color: white;
    padding: 0.5rem 1rem;


}
.banner {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    max-width: 100%;
    height: 20rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-family: "roboto bold";
    font-size: 4rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
    margin: 4px 0;

}
.intro {
    display: flex;
    flex-direction: column;
    align-items:center;

}
.intro h2 {
    margin-bottom: 0;
}
.accroche {
    display: flex;
    margin: 0rem 5rem;
    justify-content: flex-end;

}
.transition {
    margin-left: 60px;
}
.accroche img {

    height: 100%;
    margin-top: 3rem;
}
.ligne {

    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10rem 0;

}
.methode-peps {
    display: flex;
    flex-direction: column;
    align-items:center;
    

}
.methode-peps :nth-child(2) {
    width: 50%;
}

.btn-secondary {

    font-family: "roboto regular";
    background-color: white;
    color: #FF4676;
    padding: 0.5rem 1rem;
    border:1px solid #FF4676;
    text-transform: uppercase;
    border-radius: 2px;

}
.proposition {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;



}
/* .proposition div {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;


} */
.chartes {

    width: 20%;


}
.charte {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.accompagnements {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;

}
.accompagnements :nth-child(2) {
    width: 50%;
    line-height: 2.5;
    
}
.decouvre {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;

}
.case ul {
    text-align: center;
    line-height: 2.5;
    padding: 0;
    font-weight: bold;


}
.case-talent h2:after {
    content: "";
    display: block;
    height: 20px;
    width: 110%;
    background-color: #68D8EE;
    margin-top: -1rem;
    margin-left: -0.6rem;
}
.case-carriere h2:after {
    content: "";
    display: block;
    height: 20px;
    width: 110%;
    background-color: #FFE17A;
    margin-top: -1rem;
    margin-left: -0.6rem;
}
.case-force h2:after {
    content: "";
    display: block;
    height: 20px;
    width: 110%;
    background-color: #DB7CF2;
    margin-top: -1rem;
    margin-left: -0.9rem;
}
.temoignages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temoignage {
    display: flex;
    justify-content: center;
    margin: 0rem 5rem;
    gap: 2rem;
}
.temoignage div {
    border: 2px solid #68D8EE ;
    width: 100%;
    text-align: center;
    padding-top: 5rem;
    margin-top: 3rem;
}
.temoignage div p  {

    margin: 0 7% ;
}
.photos {
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.stephane  {

    position: relative;
    top: 7.5rem ;
    left: 2.5rem;
    border: 10px solid white;
}
.nico  {

    position: relative;
    top: 7.5em ;
    border: 10px solid white;
}
.cecile  {

    position: relative;
    top: 7.5rem ;
    right: 3rem;
    border: 10px solid white;
}
.chapitre {
    text-align: center;
}
.blog {
    display: flex;
    margin: 1.4rem 5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #68D8EE ;
}
.imgblog {
    padding: 0 2rem 0 1rem;
}
.imgblog img {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}
.blog-txt {
    padding-right: 2rem;

    
}
.blog-txt h2 {
    font-size: 20px;

}
.blog-txt h3 {
    font-size: 15px;

}
.btn-secondary-blog {

    font-family: "roboto regular";
    font-size:medium;
    font-weight: bold;
    background-color: white;
    color: #FF4676;
    padding: 0.8rem 3rem;
    border:1px solid #FF4676;
    text-transform: uppercase;
    border-radius: 2px;
}
.button {
    margin-top: 2rem;
}
footer {
    background-color: rgb(223, 223, 223);

}
.footer {
    display: flex;
    justify-content: center;




}
.footer-contact {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-mention {
    display: flex;
    justify-content: center;
}
.img-footer {
    width: 10%;
    object-position: right;
}
.img-footer img {

    padding-top: 2rem;
}
.img-footer:after {
    content: "|";
    margin: 0 10px;
    color: #000;
 }